@import "tailwindcss";
@import "../src/css/bg_and_header.css";
@import "../src/css/hero.css";

/* Reset base e contenitori */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.d-none {
  display: none;
}